.bg-red {
  background-color: #dc3545;
  color: #eee6e6;
}
.text-red {
  color: #dc3545;
}

.bg-yellow {
  background-color: #ffc107;
}
.text-yellow {
  color: #ffc107;
}

.bg-blue {
  background-color: #22c92b;
  color: #fff;
}
.text-blue {
  color: #22c92b;
}
