/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #c9bebe;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #c5baba;
  text-decoration: none;
}

.pages {
  background-image: "url(/image.png)";
  max-width: 1350px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
}
/* homepage */

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

/* navbar */

/* label input */

label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

/* auth forms */
